<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Basic</title>
    <style>
        .text-red {
            color: red;
        }

        .text-green {
            color: green;
        }
    </style>
</head>

<body>

    <div id="app">
        <input type="text" v-model="name"> <!-- vuejs directive (v-model)-->
        <h1 v-bind:class="headerClass">Hello, {{ name }}</h1> <!--bind directive (v-bind or ':' )-->
        <!-- <h1>{{ greetings }}</h1> -->

        <h1>{{count}}</h1>
        <!-- Events use @, otherwise use : -->
        <button v-on:click="increment">+ Increment</button> <!-- handle events (v-on or '@')-->
        <button v-on:click="decrement">- Decrement</button>

        <form @submit.prevent="submitHandler">
            <input type="text" v-model="inputTask">
            <button type="submit"> Add to Task</button>
        </form>
        <div class="text-red" v-if="task.length === 0"> <!-- conditional rendering-->
            No items yet

        </div>
        <ul>
            <li v-for="item in tasks">{{item}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>

</body>

</html>